- var navigation = { data: { list:[{   text:"Home",link:'/'}, {text:"About",link:'/about'}, {text:"Collections",link:'/collections'}]} }

nav.navigation
  a.navigation__link(href="/")="App"

  ul.navigation__list
    each item in navigation.data.list
      li.navigation__list__item
        a.navigation__list__link(data-animation="link" href=item.link)
          span=item.text
