<html class={{device}} lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Meta data description" />

    <base href="/" />

    <title>App name</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff3a00" />

    <meta name="msapplication-TileColor" content="#f4d8cc" />
    <meta name="theme-color" content="#f4d8cc" />

    <meta property="og:type" content="website" />
    <meta property="og:type" content="website" ) />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <meta name="twitter:card" content="summary_large_image" ) />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

  </head>
  <body>
    <main class="content" id="content" data-template={{name}}>
      {{{body}}}
    </main>

    {{! <script>
      window.ASSETS = !{JSON.stringify(assets).replace(/<\//g, "<\\/")}
    </script> }}

    <script src="/main.js"></script>
  </body>
</html>